@import "./css/constants.scss";

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $app-font-color;
  background-color: $app-background-color;
  width: 100%;
  height: 100%;
}
